* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #3c3c3c;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20%;
    overflow: hidden;
    background-color: #fff8dc;
    max-width: 400px;
    color: #8b4513;
}

.product-image img {
    flex-grow: 1;
}

.product-details {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.product-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.text-info {
    text-align: left;
}

.product-price {
    margin-left: 40px;
    font-weight: 600;
    font-size: 1.3em;
}

.add-to-cart {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    background-color: #F3DF85;
    cursor: pointer;
}
