* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

body {
  background-color: #666666;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 1em;
  font-family: "Indie Flower", cursive;
}

.postit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 20%;
  margin: 1em;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.65);
  transition: transform 0.3s ease; /* Rende fluida la transizione quando ingrandisce */
  position: relative;
  z-index: 1;
}

.postit:hover {
  transform: scale(1.5); /* Aumenta la grandezza in scala */
  z-index: 10; /* Metto in primo piano l'elemento ingrandito */
}

.postit h2 {
  font-size: 2em;
  font-weight: 700;
}

.postit p {
  font-size: 1.5em;
}

.yellow {
  background: #e7e7b1;
  background: linear-gradient(to bottom, #e7e7b1 0%, #e7e7b1 70%, #bdbda3 100%);
  transform: rotate(355deg);
}

.green {
  background: #cafccb;
  background: linear-gradient(to bottom, #cafccb 0%, #cafccb 70%, #9eb5a1 100%);
  transform: rotate(5deg);
}

.purple {
  background: #c6c6f1;
  background: linear-gradient(to bottom, #c6c6f1 0%, #c6c6f1 70%, #8b8c9b 100%);
  transform: rotate(350deg);
}